<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="DBPath" value="Data/database.db" />
    </appSettings>
    <connectionStrings>
        <add name="SQLiteConnection" connectionString="Data Source=Data/database.db" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>
